@model LuxAuto.Models.Marchio
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<html>
<head>
    <!-- Altri tag head come i meta e i link ai fogli di stile -->

    <style>
        .logomarchio {
            ;
            opacity: 0.3;
            object-fit:fill;
            background-repeat:no-repeat;
            background-position: center bottom;
             position:fixed;
             width:50%;
             margin:auto;
            
        }
        .container-fluid {
            color: black !important;
        }
        body{
            background-color:white !important;
        }
     
    </style>
</head>
<body >

    

    <div class="container-fluid bg-white ps-4 pe-4">
        <img class="logomarchio" src="~/Content/assets/img/LoghiMarchi/@Model.Logo" />
        <h2 class="ms-2">Qualche piccola curiosità sulla casa madre</h2>
   

        <dl class="dl-horizontal">
            <dd class="fs-4">
                @Html.DisplayFor(model => model.NomeMarchio)
            </dd>
            <dt class="text-center fw-bold fs-2 mb-3">
                @Html.DisplayNameFor(model => model.BreveStoria)
            </dt>
            <dd class="text-justify text-center m-auto ps-5 fw-semibold pe-5 fs-3">
                @Html.DisplayFor(model => model.BreveStoria)
            </dd>
        </dl>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.idMarchio }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</body>
</html>