@model IEnumerable<LuxAuto.Models.Offerta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asta.idAsta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autovettura.NomeModello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffertaFatta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOfferta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asta.idAsta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autovettura.NomeModello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffertaFatta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOfferta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOfferta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOfferta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOfferta })
        </td>
    </tr>
}

</table>
